%h4 Добрый день!

%p
  Уважаемые коллеги, произведена проверка доступа витрины МСЭ.
-if Time.now.beginning_of_day < @error_time
  %p Согласно проверке, ФБ МСЭ  имеет доступ к базе данных mse (ip:10.2.1.248).
-else
  %p
    Согласно проверке, для ФБ МСЭ недоступна база данных mse (ip: 10.2.1.248).
  %p
    Последняя выгрузка была #{@error_time.strftime('%d.%m.%Y')}

%p
  Ссылка на сайт МСЭ:
  =link_to "Витрина МСЭ", "xxx"

%br
  \----
%br
  %small
    Письмо отправлено автоматически АИС "Mednet".
    %br Рассылка производится в будние дни 16:00
    Связаться с нами можно по телефону: +7(4842)70-50-04 доб.36, по электронной почте: #{mail_to "pr@xxx.ru"}
