%h4 Добрый день!

%p
  В прикрепленном файле "Отчет по МСЭК.xls" находится статистика по выполнению мероприятий по медицинской реабилитации ИПРА инвалидов (в том числе детей-инвалидов).

%br
  \----
%br
  %small
    Письмо отправлено автоматически АИС "Mednet".
    %br Рассылка производится 7 числа каждого месяца
    Связаться с нами можно по телефону: +7(4842)70-50-04 доб.36, по электронной почте: #{mail_to "pr@xxx.ru"}
