%h4 Добрый день!
%pУважаемые коллеги, произведена проверка соответствий врач-участок и участков в РМИС.
-if @loc_docs.present?
  %h4  Проверьте участки для организации, не привязан локальный врач в Mednet :
  -@loc_docs.each do |d|
    %p ========
    %p=d[0]
    %p
      -d[1].each do |s|
        %br
          =s
-if @lsd_sector_doctor.present?
  %h4  Проверьте следующие организации и участки на наличие ошибок(не привязаны врач в РМИС) :
  -@lsd_sector_doctor.each do |f|
    %p ========
    %p=f[0]
    %p
      -f[1].each do |k|
        %br
          =k
-if @sectors.present?
  %h4  Проверьте участки для организации, локальный участок не соответствует участку в РМИС:
  -@sectors.each do |g|
    %p ========
    %p=g[0]
    %p
      -g[1].each do |l|
        %br
          =l



