%h4 Добрый день!

%strong #{@document.organization.name} загрузила документы в регистр мед.работников

%p
  Для того, чтобы скачать документ перейдите по  #{link_to  'ссылке', download_frmr_outcoming_document_url(@document)}

%br
  \----
%br
  %small
    Письмо отправлено автоматически АИС "Mednet".
    %br Рассылка производится при добавлении документа в разделе "Регистр мед.работников"
    Связаться с нами можно по телефону: +7(4842)70-50-04 доб.36, по электронной почте: #{mail_to "pr@xxx.ru"}
