.row-fluid
  .col-md-4
    %center
      %br
        = link_to image_tag('mednet.png', style: "width: 60%;" ), root_path
  .col-md-4
    %center
      %h5
        Закрытый медицинский портал "MEDNET"

      %strong
        Техническая поддержка:
      %br
      %i.fa.fa-phone{"aria-hidden" => "true"}
      (4842) 70-50-04 доб.36
      %br
      %i.fa.fa-envelope-o
      = mail_to "pr@miac.kaluga.ru"


      %p
        Калужская область г. Калуга ул. Вишневского д.1 корп. 5

  .col-md-4
    %center
      %br
        = link_to image_tag('MIAC_full_grey.png', style: "width: 50%;"), 'http://miac.kaluga.ru'

