=hidden_field_tag :parCode,  params[:code]
=hidden_field_tag :parName, params[:name]
=hidden_field_tag :parDlo, params[:dlo]
.row
  .col-md-12
    -if @list.present?
      %table.table.table-striped.table-condensed.table-hover.table-bordered.table-responsive
        %caption
          .row
            .col-md-8
              %h4 Количество найденых должностей: #{@list.count}
            .col-md-4
              .pull-right
                = link_to  download_admin_frmr_hdbk_position_index_path(code: params[:code],name: params[:name],dlo: params[:dlo], sort_by_name: params[:sort_by_name], sort_by_code: params[:sort_by_code]),  class: 'btn btn-warning', target: :blank do
                  %i.fa.fa-download
                  Скачать список
        %thead
          %tr.info
            %th.text-center{rowspan: 2} Код
            %th.text-center{rowspan: 2} Наименование
            %th.text-center{colspan: 2} Имеют право выписки льготных рецептов
            %th.text-center{rowspan: 2} Удаление
          %tr.info
            %th.text-center врач
            %th.text-center фельдшер
        %tbody
          -@list.each do |l|
            %tr{'data-id'=> l.id}
              %td.text-center=best_in_place l, :code, as: :input, url: admin_frmr_hdbk_position_path(l)
              %td=best_in_place l, :name, as: :textarea, url: admin_frmr_hdbk_position_path(l)
              %td.text-center=best_in_place l, :doctor, as: :checkbox, url: admin_frmr_hdbk_position_path(l),  collection: {false: 'Нет', true: 'Да'}, class: 'btn btn-sm btn-info'
              %td.text-center=best_in_place l, :paramedic, as: :checkbox, url: admin_frmr_hdbk_position_path(l),  collection: {false: 'Нет', true: 'Да'}, class: 'btn btn-sm btn-info'
              %td.text-center
                =link_to  admin_frmr_hdbk_position_path(l), method: :delete, remote: true, class: 'btn btn-danger', title: 'Удалить запись', data: {confirm:  'Точно удалить?'} do
                  -#%i.fa.fa-minus
                  Удалить
      %center= will_paginate @list, :params => {:controller => 'hdbk/position', :action => 'index', code: params[:code], name: params[:name], sort_by_code: params[:sort_by_code], sort_by_name: params[:sort_by_name], dlo: params[:dlo]}, previous_label: '<На предыдущую страницу', next_label: '> На следующую страницу'

.row
  .col-md-12
    Добавление новой записи
    #newRecord
      =form_tag controller: 'admin/frmr/hdbk/position', action: :create, method: :post, remote: true, autocomplete: :off do
        %table.table.table-striped.table-condensed.table-hover.table-bordered.table-responsive
          %thead
            %tr.info
              %th.text-center Код
              %th.text-center Наименование
              %th.text-center Входит ли в перечень врачей, имеющих право выписывания льготных рецептов в рамках ДЛО
              %th.text-center Входит ли в перечень фельдшеров, имеющих право выписывания льготных рецептов в рамках ДЛО
              %th.text-center Добавление
          %tbody
            %tr
              %td=text_field_tag :new_code, '', placeholder: 'Код', class: 'form-control'
              %td=text_field_tag :new_name, '', placeholder: 'наименование', class: 'form-control'
              %td=check_box_tag  :doctor, '1', checked = false, class: 'form-control'
              %td=check_box_tag  :paramedic, '1', checked = false, class: 'form-control'


              %td=submit_tag 'Добавить', class: 'btn btn-success', title: 'Добавить запись', data: { 'disable-with' => 'Добавляем. Перестраиваем список...' }