%p{style: 'font-size: 12px;'} ---------------------------------------------------------------------------------------------------
%p{style: 'font-size: 12px;'}
  %i Не отвечайте на это письмо. Это письмо создано автоматически и отправлено вам с портала Mednet ГБУЗ КО "МИАЦ Калужской области"

%p{style: 'font-size: 12px;'}
  Вопросы вы можете задать по телефону технической поддержки: (4842) 70-50-04 доб.36 или по электронной почте pr@miac.kaluga.ru