%p
  #{@resource.fio}, добро пожаловать в систему Mednet!
  %p Вы должны подтвердить  ваш адрес электронной почты, перейдя по ссылке:
%p= link_to 'Подтвердить мою учетную запись', confirmation_url(@resource, confirmation_token: @token)

%i
Обратите внимание на следующую информацию, касающуюся предоставления доступа к системе:
В целях реализации подпункта «в» пункта 13 требований к защите персональных данных при их обработке в информационных системах персональных данных, утвержденных постановлением Правительства Российской Федерации от 01.11.2012 № 1119 в соответствии с приказом министерства здравоохранения Калужской области от 28.06.2016 № 814 «Об обеспечении единой политики безопасности медицинских организаций Калужской области в информационных системах, связанных с персональными данными» и письмом "ГБУЗ КО МИАЦ Калужской области" от 29.03.2017 № 79 «О предоставлении информации»." необходимо внести данного сотрудника в приказ медицинской организации по доступу к персональным данным. 
%h2 Доступ к желаемым модулям будет предоставлен в течении одного рабочего дня только после сверки с соответствующим приказом по медицинской организации.

=render 'footer'