%p
  Добрый день, #{@resource.fio}!
%p Возможно, вы захотели сменить пароль. Для сброса пароля перейдите по ссылке, указанной ниже.
%p= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если запрос на сброс пароля вы не отправляли, то не обращайте на это письмо внимания.
%p Ваш пароль изменится только в том случае, если вы перейдете по ссылке, указанной в этом письме, и укажите новый пароль для входа в систему.
=render 'footer'